
.coverage
.metadata
.idea/
.project
.pydevproject
.settings
.pydevproject
.project
dist
build/
cbuild/
*.pyc
*.pyo
alphabet.xml
*.so
Config.xml
envconfg.py
#examples

share/testdata/tmp/

operators/bin/
operators/bin_2010/
operators/CMade/
src/msml/envconfig.py
/*.cmd
*.log
*.orig
share/msml-package.xml
