lxml
path.py
networkx
simplegeneric
jinja2

#html5lib
#isodate
#SPARQLWrapper
rdflib

colorama


## ReadTheDocs.org / Sphinx
#sphinx
#sphinxcontrib-napoleon
#sphinx-bootstrap-theme

# package support
pyyaml
addict