Source: msml
Section: devel
Priority: optional
Build-Depends: debhelper (>=9), python-support, cmake
XS-Python-Version: >= 2.7
Standards-Version: 3.9.4
VCS-Git:  git://github.com/CognitionGuidedSurgery/msml.git
VCS-Browser: http://github.com/CognitionGuidedSurgery/msml
Homepage: http://msml.org
Maintainer: Alexander Weigl <uiduw@student.kit.edu>

Package: msml
Depends: python-pip
Architecture: amd64 
Depends: python
Description: Automagically Workflows for Biomechanical Engineering

