# see http://astyle.sourceforge.net/astyle.html#_Quick_Start for help


--style=ansi
indent=spaces=4
attach-namespaces
attach-classes
attach-inlines
attach-extern-c 

#indent-classes
indent-switches
#indent-namespaces
indent-labels
indent-preproc-define

max-instatement-indent=50
break-blocks
break-blocks=all
#pad-paren
align-pointer=type
align-reference=type
remove-comment-prefix
#close-templates

lineend=linux
break-after-logical
add-brackets
